<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head" th:remove="tag">
    <title>Shared Vegetable Portal</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <link th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap-theme.min.css}"
          rel="stylesheet" media="screen"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" href="images/favicon.png"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,700i,900|Montserrat:400,700|PT+Serif'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href='css/clear.css'/>
    <link rel="stylesheet" type="text/css" href='css/common.css'/>
    <link rel="stylesheet" type="text/css" href='css/font-awesome.min.css'/>
    <link rel="stylesheet" type="text/css" href='css/carouFredSel.css'/>
    <link rel="stylesheet" type="text/css" href='css/prettyPhoto.css'/>
    <link rel="stylesheet" type="text/css" href='css/sm-clean.css'/>
    <link rel="stylesheet" type="text/css" href='css/style.css'/>

    <!--[if lt IE 9]>
    <script src="js/html5.js"></script>
    <![endif]-->

</head>
<body>
<nav th:fragment="top-navigation" sec:authorize="isAnonymous()">
    <!-- Preloader Gif -->
    <table class="doc-loader">
        <tr>
            <td>
                <img src="images/ajax-document-loader.gif" alt="Loading..."/>
            </td>
        </tr>
    </table>

    <!-- Menu -->
    <div class="menu-wrapper center-relative">
        <nav id="header-main-menu">
            <div class="mob-menu">MENU</div>
            <ul class="main-menu sm sm-clean">
                <li><a href="#home">Home</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#news">News</a></li>
                <li><a href="#video">Video</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</nav>

</body>
</html>