<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<div th:fragment="commmon" th:remove="tag">
    <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>

    <!--Load JavaScript-->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type='text/javascript' src='js/jquery.sticky-kit.min.js'></script>
    <script type='text/javascript' src='js/jquery.smartmenus.min.js'></script>
    <script type='text/javascript' src='js/jquery.sticky.js'></script>
    <script type='text/javascript' src='js/jquery.dryMenu.js'></script>
    <script type='text/javascript' src='js/isotope.pkgd.js'></script>
    <script type='text/javascript' src='js/jquery.carouFredSel-6.2.0-packed.js'></script>
    <script type='text/javascript' src='js/jquery.mousewheel.min.js'></script>
    <script type='text/javascript' src='js/jquery.touchSwipe.min.js'></script>
    <script type='text/javascript' src='js/jquery.easing.1.3.js'></script>
    <script type='text/javascript' src='js/imagesloaded.pkgd.js'></script>
    <script type='text/javascript' src='js/jquery.prettyPhoto.js'></script>
    <script type='text/javascript' src='js/main.js'></script>

</div>

</body>
</html>